[Desktop Entry]
Categories=Utility;TextEditor;
Comment[en_GB]=Edit text files
Comment=Edit text files
Comment[af]=Redigeer tekslêers
Comment[ar]=حرّر ملفات نصية
Comment[az]=Mətn fayllarını redaktə edin
Comment[be]=Рэдагаваньне тэкставых файлаў
Comment[bg]=Редактиране на текстови файлове
Comment[bn]=টেক্স্ট ফাইল এডিট করুন
Comment[bs]=Izmijeni tekstualne datoteke
Comment[ca]=Edita fitxers de text
Comment[cs]=Úprava textových souborů
Comment[cy]=Golygu ffeiliau testun
Comment[da]=Rediger tekstfiler
Comment[de]=Textdateien bearbeiten
Comment[el]=Επεξεργασία αρχείων κειμένου
Comment[en_CA]=Edit text files
Comment[eo]=Redakti tekstajn dosierojn
Comment[es]=Editar archivos de texto
Comment[et]=Redigeeri tekstifaile
Comment[eu]=Editatu testu-fitxategiak
Comment[fa]=ویرایش پرونده‌های متنی
Comment[fi]=Muokkaa tekstitiedostoja
Comment[fr]=Éditer des fichiers texte
Comment[ga]=Cuir comhaid téacs in eagar
Comment[gu]=લખાણ ફાઇલોમાં ફેરફાર કરો
Comment[he]=ערוך קבצי טקסט
Comment[hi]=पाठ फ़ाइलें संपादित करें
Comment[hr]=Uređivanje tekstualne datoteke
Comment[hu]=Szövegfájlok szerkesztése
Comment[hy]=Խմբագրել տեքստային ֆայլերը
Comment[id]=Edit file teks
Comment[is]=Vinna með textaskrár
Comment[it]=Edita file di testo
Comment[ja]=テキストファイルを編集します
Comment[kn]=ಪಠ್ಯ ಕಡತಗಳನ್ನು ಸಂಪಾದಿಸು
Comment[ko]=텍스트 파일을 편집합니다
Comment[lt]=Redaguoti tekstines bylas
Comment[lv]=Rediģēt teksta failus
Comment[mk]=Уреди текстуални фајлови
Comment[ml]=വാചക രചനകള് തിരുത്തുക
Comment[mn]=Текст файл боловсруулах
Comment[mr]=गद्य फाइल संपादित करा
Comment[ms]=Edit fail teks
Comment[nb]=Rediger tekstfiler
Comment[ne]=पाठ फाइललाई संशोधन गर्नुहोस्
Comment[nl]=Tekstbestanden bewerken
Comment[nn]=Rediger tekstfiler
Comment[no]=Rediger tekstfiler
Comment[or]=ପାଠ୍ଯ ଫାଇଲଗୁଡ଼ିକୁ ସମ୍ପାଦନ କରନ୍ତୁ
Comment[pa]=ਪਾਠ ਫਾਇਲਾਂ ਸੰਪਾਦਨ
Comment[pl]=Edytuj pliki tekstowe
Comment[pt]=Editar ficheiros de texto
Comment[pt_BR]=Edite arquivos de texto
Comment[ro]=Editare fişiere text
Comment[ru]=Редактировать текстовые файлы
Comment[sk]=Úprava textových súborov
Comment[sl]=Urejanje datotek z besedili
Comment[sq]=Përpuno files teksti
Comment[sr@Latn]=Izmeni tekstualne datoteke
Comment[sr]=Уређујте текст фајлове
Comment[sv]=Redigera textfiler
Comment[ta]=உரை கோப்புகளைத் திருத்தவும்
Comment[th]=แก้ไขแฟ้มข้อความ
Comment[tk]=Metin faýllary editle
Comment[tr]=Metin dosyalarını düzenleyin
Comment[uk]=Редагувати текстові файли
Comment[vi]=Soạn thảo tập tin văn bản
Comment[wa]=Asspougnî des fitchîs tecses
Comment[zh_CN]=编辑文本文件
Comment[zh_TW]=編輯文字檔
Exec=/home/admin/Documents/Luim/Luim/src/luim %F
GenericName[en_GB]=Text Editor
GenericName=Text Editor
GenericName[ca]=Editor de text
GenericName[da]=Teksteditor
GenericName[de]=Texteditor
GenericName[eo]=Tekstoredaktilo
GenericName[es]=Editor de texto
GenericName[fi]=Tekstinmuokkain
GenericName[fr]=Éditeur de texte
GenericName[ga]=Eagarthóir Téacs
GenericName[hy]=Տեքստի խմբագիր
GenericName[is]=Ritvinnsluforrit
GenericName[it]=Editor di testi
GenericName[ja]=テキストエディタ
GenericName[pl]=Edytor tekstu
GenericName[ru]=Текстовый редактор
GenericName[sr]=Едитор текста
GenericName[sv]=Textredigerare
GenericName[ta]=உரை திருத்தி
GenericName[tr]=Metin Düzenleyicisi
GenericName[uk]=Редактор Тексту
GenericName[zh_CN]=文本编辑器
Icon=/home/admin/Documents/icondiy/Luim/vim.ico
Keywords=Text;editor;
Keywords[ca]=Text;editor;
Keywords[de]=Text;Editor;
Keywords[eo]=Teksto;redaktilo;
Keywords[es]=Texto;editor;
Keywords[fi]=Teksti;muokkain;editori;
Keywords[fr]=Texte;éditeur;
Keywords[ga]=Téacs;eagarthóir;
Keywords[hy]=Տեքստ;խմբագիր;
Keywords[it]=Testo;editor;
Keywords[ja]=テキスト;エディタ;
Keywords[ru]=текст;текстовый редактор;
Keywords[sr]=Текст;едитор;
Keywords[sv]=Text;redigerare;
Keywords[ta]=உரை;திருத்தி;
Keywords[tr]=Metin;düzenleyici;
Keywords[uk]=текст;редактор;
Keywords[zh_CN]=Text;editor;文本;编辑器;
MimeType=text/x-tex;text/x-pascal;text/x-moc;text/x-makefile;text/x-java;text/x-csrc;text/x-csrc;text/x-chdr;text/x-c++src;text/x-c++hdr;text/tcl;text/plain;application/x-shellscript;
Name[en_GB]=luim
Name=luim
Name[ca]=Vim
Name[de]=Vim
Name[eo]=Vim
Name[es]=Vim
Name[fi]=Vim
Name[fr]=Vim
Name[ga]=Vim
Name[hy]=Վիմ
Name[it]=Vim
Name[ja]=Vim
Name[ru]=Vim
Name[sr]=Vim
Name[sv]=Vim
Name[ta]=விம்
Name[tr]=Vim
Name[uk]=Vim
Name[zh_CN]=Vim
Path=
StartupNotify=false
Terminal=true
TerminalOptions=
TryExec=vim
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
